<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="leftMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Dogs</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="signOut()" size="small" fill="outline" color="light">Log Out</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="6" size-xl="4" class="ion-no-padding" *ngFor="let dog of dogs | async">
        <ion-card button="true" color="light" class="ion-margin" [routerLink]="['/app/dogs/', dog.id]">
          <ion-card-header>
          <ion-avatar class="ion-float-right ion-margin-start dogAvatar" [style.border-color]="dog.color" [style.background-color]="dog.color">
            <ion-img *ngIf="dog.imageUrl; else genericImg" [src]="dog.imageUrl" width="100px" height="100px" ></ion-img>
            <ng-template #genericImg><ion-img src="../../assets/img/generic-paw.png" width="100px" height="100px" ></ion-img></ng-template>
          </ion-avatar>
            <ion-card-title class="ion-text-uppercase" [style.color]="dog.color">{{ dog.name }}</ion-card-title>
            <ion-card-subtitle>{{ dog.breed }}</ion-card-subtitle>
          </ion-card-header>
            <ion-card-content>
              {{ dog.dob.toDate() | date: 'dd MMMM yyyy' }}<br />
              <span *ngIf="dog.currWeight">{{ dog.currWeight.weight | number: '1.2-2' }}kg ({{ dog.currWeight.date.toDate() | date: 'dd/MM/yyyy' }})</span>
              <!-- <br /><ion-label color="medium">ID = {{ dog.id }}</ion-label> -->
            </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="onShowAddDogModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
