<ion-header class="ion-no-border">
  <ion-toolbar class="ion-color" [style.background-color]="dog?.color" [style.color]="dog?.colorText">
    <ion-buttons slot="start">
      <ion-menu-button menu="leftMenu"></ion-menu-button>
      <ion-back-button [defaultHref]="['/app/dzd/dogs/', dog?.id]"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">{{ dog?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/app/dzd/dogs/edit/', dog?.id]">
        <ion-icon name="create-outline" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">Dog Health Results...</ion-col>
      <ion-col class="ion-hide-md-down" size-md="6">View document of selected result</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>