ion-avatar.dogAvatar { 
  width: 100px;  
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

ion-item:last-child {
  --inner-border-width: 0;
}

ion-card-title {
  font-size: 18px;
  font-weight: 500;
}