<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="leftMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment [(ngModel)]="type">
    <ion-segment-button value="calendar">Calendar</ion-segment-button>
    <ion-segment-button value="reminders">Reminders</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <div [hidden]="type != 'calendar'" >Calendar...</div>
    <div [hidden]="type != 'reminders'" >Reminders...</div>

  </div>

</ion-content>
