<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="leftMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="undoAction($event)" [hidden]="undoHidden">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment (ionChange)="segmentChanged($event)" [value]="type">
    <ion-segment-button value="calendar">Calendar</ion-segment-button>
    <ion-segment-button value="reminders">Reminders</ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">
    <div [hidden]="type != 'calendar'" >
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col>
            <ion-virtual-scroll [items]="events" [headerFn]="myHeaderFn" approxItemHeight="70px">
              <ion-item-divider *virtualHeader="let header" color="light">
                {{ header }}
              </ion-item-divider>
              <ion-item-sliding *virtualItem="let item">
                <app-event-item [event]="item"></app-event-item>
              </ion-item-sliding>
            </ion-virtual-scroll>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div [hidden]="type != 'reminders'" >
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-list *ngIf="overdueReminders && overdueReminders.length > 0">
              <ion-item-divider>
                <ion-label>Overdue Reminders</ion-label>
              </ion-item-divider>
              <app-reminder-item (reminderId)="updateUndoState($event)" [reminder]="item" *ngFor="let item of overdueReminders"></app-reminder-item>
            </ion-list>
            <ion-list *ngFor="let category of reminders| keyvalue">
              <ion-item-divider>
                <ion-label>{{ category.key }}</ion-label>
              </ion-item-divider>
              <app-reminder-item [reminder]="item" *ngFor="let item of category.value"></app-reminder-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="addEvent()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
