<p>Dog Menu will go back here...</p>
<ion-item-group *ngIf="dogs">
  <ion-item-divider color="light">Your Dogs</ion-item-divider>
  <!-- <ion-menu-toggle autoHide="false" menu="leftMenu"> -->
    <ion-item
     *ngFor="let dog of dogs | async"
     detail
      class="ion-margin-vertical"
      [routerLink]="['/app/dogs/', dog.id]"
    >
      <ion-avatar
        slot="start"
        class="dogAvatar"
        [style.border-color]="dog.color"
        [style.background-color]="dog.color"
      >
        <img *ngIf="dog.imageUrl; else genericImg" [src]="dog.imageUrl" />
        <ng-template #genericImg><img src="../../assets/img/generic-paw.png" /></ng-template>
      </ion-avatar>
      <ion-label><h2 class="ion-text-uppercase" [style.color]="dog.color">{{ dog.name }}</h2></ion-label>
    </ion-item>
  <!-- </ion-menu-toggle> -->
</ion-item-group>